.community-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-image: url("../../../assets/img/HERO\ IMG\ \ \(2\).webp");
}

.community-section .container h3 {
  font-family: Noto Sans Tamil;
  font-weight: 600;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: white;
}
.community-section .container {
  margin-top: 15rem;
}
.community-desc {
  max-width: 700px;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #f8f9fa;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

.community-section h3 {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
