.event-section {
  background-image: url("../../../assets//img/1\ \(17\).webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}
.ecosystem-heading {
  font-family: Noto Sans Tamil;
  font-weight: 500;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(255, 180, 0, 1);
}
.ecosystem-capital {
  font-family: Oooh Baby;
  font-weight: 400;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
}

.ecosystem-wrapper h2 {
  font-size: 2rem;
}

.ecosystem-wrapper button {
  box-shadow: 0px 4px 4px 0px #00000040;
}

@media (max-width: 768px) {
  .event-section p {
    font-size: 0.95rem;
  }
  .ecosystem-wrapper h2 {
    font-size: 1.5rem;
  }
}
