.founders-section {
  background-color: #ffffff;
}

.founders-section p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  letter-spacing: 0%;
}
.founders-section h6 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 163%;
  letter-spacing: 0%;
}
.founders-section h5 {
  font-family: Noto Sans Tamil;
  font-weight: 500;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(255, 180, 0, 1);
}
.section-subtitle {
  font-family: Oooh Baby;
  font-weight: 400;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
}

.info-card {
  background-color: #f1f3f5;
  border-left: 4px solid #f0ad4e;
  border-radius: 0px;
  color: #333;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  letter-spacing: 0%;
}

.founders-section img {
  width: 341px;
  height: 315px;
}
