.startup-loop-section {
  background: #fff;
  color: #000;
}
.startup-loop-section .main-heading {
  font-family: Noto Sans Tamil;
  font-weight: 500;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(255, 180, 0, 1);
}
.startup-loop-section .subheading {
  color: #444;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  padding: 0 10rem;
  line-height: 163%;
  letter-spacing: 0%;
  text-align: center;
}
.startup-loop-section .italic-heading {
  font-family: Oooh Baby;
  font-weight: 400;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
}

.loop-box {
  background: #f0f0f0;
  padding: 1rem;
  border-radius: 4px;
  align-items: flex-start;
  height: 100%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.line-bar {
  width: 5px;
  background-color: #f5a623;
  margin-right: 10px;
  border-radius: 5px;
}
