.why-not-section {
  /* background-color: #fff; */
  color: #333;
  margin-top: 6rem !important;
}

.highlighted {
  color: rgba(255, 180, 0, 1); /* orange-yellow highlight */
  font-family: Noto Sans Tamil;
  font-weight: 500;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.why-not-section .italic-subtitle {
  font-family: Oooh Baby;
  font-weight: 400;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;

  margin-top: 0.25rem;
}

.why-not-section p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  letter-spacing: 0%;

  color: rgba(0, 0, 0, 1);
}

@media (max-width: 768px) {
  .italic-subtitle {
    font-size: 1rem;
  }

  .why-not-section {
    padding: 2rem 1rem;
  }
}
