* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.combined-hero {
  position: relative;
  background-size: cover;
  background-image: url("../img/1\ \(11\).webp");
  background-position: center;
  min-height: 100vh;
  padding-top: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.custom-navbar {
  position: relative;
  z-index: 2;
  padding: 10px 20px;
}

.logo-text {
  color: white;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
}

.navbar-nav .nav-link {
  color: white;
  font-weight: 500;
}

.navbar-nav .nav-link:hover {
  color: #ffcc00;
  transition: color 0.3s ease-in-out;
}

.hero-content {
  position: relative;
  z-index: 2;
  padding: 60px 20px 60px 8rem;
  max-width: 800px;
  align-items: flex-start;
  margin-top: 10rem;
  /* margin: 0 auto; */
}

.hero-content h1 {
  font-family: Oooh Baby;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
}

.hero-content h2 {
  font-family: Noto Sans Tamil;
  font-weight: 100;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0%;
}

.hero-content button {
  background: linear-gradient(90deg, #ffb400 0%, rgba(0, 0, 0, 0) 87.61%);
  border: none;
  width: 35rem;
  align-items: flex-start;
  text-align: left;
  border-radius: 0;

  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;

  color: white!important;
}
